PORT=3000
DATABASE_URL=postgresql://postgres:postgres@db:5432/wildfire
AUTH_SECRET=8eb87cd109a28d8f03459044387d04c6a2bae5c3acfdfd4e2ec55426e66f5ce0
FIRMS_MAP_KEY=your_firms_map_key_here
GOOGLE_GEOCODING_API_KEY=your_google_geocoding_api_key_here
